<div class="mt10">
  <div>
    <sly-field
      title="UPDATE DELAY"
      description="Set the delay between API requests (in seconds)"
    >
      <el-input-number v-model="state.UpdateDelay" :min="0" :step="100" size="small" placeholder="Enter delay"></el-input-number>
    </sly-field>
  </div>
  <div>
    <sly-field
      title="Image Number"
      description="Set the width of the image grid"
    >
      <el-input-number v-model="state.GridWidth" :min="1" :step="1" size="small" placeholder="Enter grid width"></el-input-number>
    </sly-field>
  </div>
  <!-- <div>
    <sly-field
      title="Image Grid Height"
      description="Set the height of the image grid"
    >
      <el-input-number v-model="state.GridHeight" :min="1" :step="1" size="small" placeholder="Enter grid height"></el-input-number>
    </sly-field>
  </div> -->
</div>
