<div>
  <div>
    <sly-field
      title="Update Frequency"
      description="Set the frequency between updates (in seconds)"
    >
    <div>
      <el-input-number v-model="state.UpdateDelay" :min="5" :max="150" :step="1" size="small"></el-input-number>
    </div>
    </sly-field>
  </div>
  <div>
    <sly-field
      title="Number of images"
      description="Set the number of images in the image grid"
    >
    <el-input-number v-model="state.GridWidth" :min="1" :max="5" :step="1" size="small"></el-input-number>
    </sly-field>
  </div>
</div>
